$pokemongold: #ffdb38;
$pokemonblue: #323c96;

html {
  background-color: $pokemongold;
  color: $pokemonblue;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  text-align: center;

  h1 {
    font-family: sans-serif;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
